.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.simplebar-wrapper::webkit-scrollbar {
  background-color: red !important;
  width: 2px;
}
